# dependencies
node_modules/

# build output
.next/
out/

# misc
.DS_Store
*.tsbuildinfo

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*

# vercel
.vercel
